@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
	font-size: 16px;
	font-family: "Sansita", Ubuntu, sans-serif;
}

/* phone or baseline views **************************/
header,
footer {
	background-color: #0f1d26;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
h1 {
	font-family: 'Merriweather', serif;
	font-size: 2rem;
	color: #d8cec0
}
h2 {
	font-family: 'Raleway', sans-serif;
	color: #0f1d26;
}

nav {
	background-color: #1f363f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	font-family: 'Raleway', sans-serif;
	display: block;
	color: #d8cec0;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #d8cec0;
	color: #1f363f;
}
.active {
	color: #ffdc1c;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
main picture {
	display: none;
	margin: 0.5rem;
}

footer {
	flex: 0 1 100%;
	height: 4rem;
	font-size: 0.8rem;
	font-family: 'Raleway', sans-serif;
}

header img {
	display: flex;
	justify-content: flex-start;
	width: 200px;
	height: auto;
}

p {
	font-family: 'Raleway', sans-serif;
}

footer p {
	color: #d8cec0;
	font-family: 'Raleway', sans-serif;
}
