body{
    font-family: 'Lora', serif;
}
h1, h2, h3{
    font-family: 'Roboto', sans-serif;
}
.logo img{
    width: 20%;
}
.logo{
    text-align: center;
}
nav{
    margin: 0 auto;
    background-color:  #224459;
    text-align: center;
    box-shadow: 2px 2px 4px gray;
}
.navigation{
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.navigation li:first-child{
    display: block;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
.navigation a:hover{
    color: #bfcdd9;
    font-weight: 700;
}
li a.active{
    color: #bfcdd9;
    text-decoration: underline;
}
footer{
    background-color: #224459;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
}
.bigimg{
    max-width: 960px;
    margin: 0 auto;
}
.bigimg img{
    width: 100%;
}
#top{
	background-image: url(/ldstempleinnsuites/images/temple.JPG);
  	background-size: cover;
 	font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px #224459;
    height: 300px;
    border-radius: 1em;
    box-shadow: 4px 4px 6px gray;
    height: 250px;
    margin-top: 30px;
}
#top h2{
    margin-left: 12.5%;
    padding-top: 6%;
    width: 50%;
}
.contact{
    border: 1px solid #224459;
    box-shadow: 2px 4px 6px #224459;
    border-radius: 1em;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
.contact p{
    padding-top: 70px;
    padding-left: 50px;
}
iframe{
    border-radius: 1em;
   padding-left: 50px;
    width: 50%;
}

section h2{
    padding-top: 20px;
    font-family: 'Roboto' sans-serif;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
    color: #224459;
}
section p{
    
    font-family: 'Lora', serif;
    font-size: 14px;;
    padding-left: 5px;
    padding-right: 5px;
}
section{
    text-align: center;
    border: 1px solid #224459;
    box-shadow: 2px 4px 6px #224459;
    width: 95%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.5rem;
    transition-property: transform;
    transition-duration: 1s;
    border-radius: 1em;
}
section:hover{
    transform: scale(1.06);
}
.temples{
    max-width: 960px;
    margin: 0 auto;
    min-height: 300px;
}
section img{
    width: 90%;
    margin: 0 auto;
    border-radius: 1.5em;;
}

 .responsive li {
    display: block;
  }
  hr{
    color: #224459;
    margin: 40px;  
}



@media only screen and (min-width: 32em){
    .temples{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
    
}
@media only screen and (min-width: 64em){
    .navigation{
        display: flex;
    }
    .navigation li:first-child{
        display: none;
    }
    .navigation li{
        display: block;
        flex: 1 1 100%;
    }
    .temples{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    }
    .rome{
        margin-top: 25px;
    }
  
}