main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

header,
footer {
    background: rgb(6, 24, 36);
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    margin: .15rem;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    font-size: 1rem;
    margin: .15rem;
    font-family: 'Quicksand', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

header,
h2,
main,
footer {
    margin: 1.25rem auto;
    max-width: 1000px;
}



header {
    padding: 1.5rem;
    max-height: 200px;
}

img {
    width: 300px;
    height: auto;
}



a:link {
    color: #fff;
    }
    a:visited {
    color: #6e455f;
    }
    a:hover {
    color: #6e455f;
    }

    h2 {
        font-size: 1rem;
    }

