 
@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
 
/* phone or baseline views **************************/
 /*
nav ul {
list-style: none;
padding: 0;
background-color:  #1f363f;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: .8rem 1rem;
    display: flex;
    line-height: 1;
}

nav ul li {
    border-bottom: #1f363f;
}*/
header img {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: auto;
    margin:  0 auto;
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;
}
header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

header,
footer {
    background-color: #1f363f;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #d8cec0;
}
footer p {
	text-align: center;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: center;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
h3 {
font-size: 13px;
text-align: center;
}
.herosum {
    margin: 20px auto;
    position: relative;
    border: 1px solid navy;
    width: 767px;
    height: 275px; 
    padding: 5px;
}

.article {
    display: flex;
    flex-flow: row;
    background-color: #eee;
}
.contact {
    display: flex;
    flex-flow: row;
    background-color: #eee;
}
.hero-ph {
    margin: 10px auto;
    background-color: #eee;
    width: 100%;
    height: 250px;
}
.hero-ph img {
    width: 100%;
    padding: 0px;
}
.weathersum{
    position: absolute;
    top: 40px;
    left: 40px;
    background: radial-gradient(navy, blue);
    border: 1px solid navy;
    padding: 0.5rem;
    box-shadow: 0 0 30px gray;
}
.artimg {
    float: right;
    margin-top: 35px;
    margin-right: 15px;
    margin-left: 15px;
    top: 65px;
    right: 20px;
    background: radial-gradient(navy,blue);
    border: 1px solid navy;
    box-shadow: 0 0 30px gray;
    width: 540px;
    height: 248px;
    
}
.artimg img {
    width: 100%;
}
  
.map {
    float: left;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 50px;
    border: 1px solid navy;
    padding: .5rem;
    box-shadow: 0 0 30px gray;
    width: 75%;
    height: 80%;
}
.map img{
    width: 100%;
    height: 100%;
}

.forsec {
    margin: 10px auto;
    background-color: #eee;
    border: 1px solid #333;
    width: 767px;
    height: 200px;
    text-align: center;
    padding: 5px;
}

nav {
    margin: 0 auto;
    background-color: #1f363f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
.navigation {
	list-style-type: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: #1f363f;
	background-color: yellow;
	font-weight: 700;
}
.navigation a:active {
    color: #ffffff;
    background-color: yellow;
}
.navigation li a {
    color: yellow;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

.hero-ph h2, .para {
    text-align: left;
    padding-left: 20px;
}
.para {
    word-wrap: break-word;
}
.hero-ph article {
    text-align: right;
    padding-right: 120px;
    padding-top: 15px;
}
.show-hide{
    display: none;
}

