 
@charset "UTF-8"; /* not necessary */
/* bluegrey matter   #637f80 light  #536872  #708090  #536878  #36454f dark */
body {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
 
/* phone or baseline views **************************/
 
nav ul {
list-style: none;
padding: 0;
background-color:  #1f363f;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: .8rem 1rem;
    display: flex;
    line-height: 1;
}

nav ul li {
    border-bottom: #1f363f;
}
header img {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: auto;
    margin: 0 auto;
    padding: 0px;
}
header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

header,
footer {
    background-color: #1f363f;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #d8cec0;
}
footer p {
	text-align: center;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: center;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}
h3 {
font-size: 13px;
}
.herosum {
    margin: 10px auto;
    position: relative;
    border: 1px dashed cyan;
    width: 767px;
    height: 300px; 
}
.hero-ph {
    margin: 10px auto;
    background-color: #eee;
    border: 1px solid #333;
    width: 98%;
    height: 250px;
}
.weathersum{
    position: absolute;
    top: 40px;
    left: 40px;
    background: radial-gradient(navy, blue);
    border: 1px solid navy;
    padding: 0.5rem;
    box-shadow: 0 0 30px gray;
}
.artimg {
    position: absolute;
    top: 65px;
    right: 20px;
    background: radial-gradient(navy,blue);
    border: 1px solid navy;
    padding: 0.5rem;
    box-shadow: 0 0 30px gray;
    width: 250px;
    height: 200px;
    
}
  
.map {
    position: absolute;
    top: 35px;
    left: 50px;
    background: radial-gradient(navy,blue);
    border: 1px solid navy;
    padding: .5rem;
    box-shadow: 0 0 30px gray;
    width: 40%;
    height: 180px;
}
#forsec {
    margin: 10px auto;
    background-color: #eee;
    border: 1px solid #333;
    width: 767px;
    height: 100px;
    text-align: center;
}






nav {
    margin: 0 auto;
    background-color: #1f363f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
.navigation {
	list-style: none;
	text-align: center;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	color: #1f363f;
	background-color: yellow;
	font-weight: 700;
}
.navigation li a {
    color: yellow;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}

.hero-ph h2, .para {
    text-align: left;
    padding-left: 20px;
}
.hero-ph article {
    text-align: right;
    padding-right: 120px;
    padding-top: 15px
}

