 

 body {
    font-size: 12px;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
/* phone or baseline views **************************/
/*
nav ul {
list-style: none;
padding: 0;
background-color:  #1f363f;
}
nav ul li a{
   color: white;
   text-decoration: none;
   padding: .8rem 1rem;
   display: flex;
   line-height: 1;
}

nav ul li {
   border-bottom: #1f363f;
}*/
.banner {
   display: none;
   background: rgb(243, 221, 97);
   padding: 5px;
   text-align: center;
}
.logo img {
   width: 20%;
   max-width: 100px;
}
div.logo{
   padding-top: 15px;
}
header {
   background-color: #1f363f;
   color: #d8cec0;
   text-align: center;
}


footer {
   background-color: #1f363f;
   display: flex;
   flex-flow: row;
   align-items: center;
   justify-content: center;
   padding: 5px;
   color: #d8cec0;
}
footer p {
   text-align: center;
}
h1 {
   font-family: 'Raleway', sans-serif;
   font-size: 60px;
   text-align: center;
}
h2 {
   font-family: 'Raleway', sans-serif;
   font-size: 20px;
   font-weight: lighter;
   text-align: center;
}
h3 {

text-align: center;
padding-bottom: 15px;

}

nav {
   margin: 0 auto;
   background-color: #1f363f;
   text-align: center;
   box-shadow: 0 2px 15px gray;
}
.navigation {
   list-style-type: none;
   text-align: center;
   padding: 0;
}
.navigation li:first-child {
   display: block;
}
.navigation li {
   display: none;
}
.navigation a {
   display: block;
   color: #fff;
   padding: 0.75rem;
   text-align: center;
   text-decoration: none;
}
.navigation a:hover {
   color: #1f363f;
   background-color: yellow;
   font-weight: 700;
}
.navigation a:active {
   color: #ffffff;
   background-color: yellow;
}
.navigation li a {
   color: yellow;
}
li a.active {
   color: #1f363f;
   background-color: yellow;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
 <ul class="navigation responsive">
 */
.responsive li {
   display: block;
}

form fieldset {
    display: block;
    border: 1px solid gray;
}
fieldset{
    padding: 0.35em 0.75em 0.625em;
    margin: 15px;
    background-color: rgb(219, 219, 219);
    border-radius: 8px;
   }

form legend {
    color: #1f363f;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 17px;
}
form label{
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    height: 50%;
    font-size: 12px;
}
form label input{
   width: 35%;
   
   padding: 5px;
}
form input.submitBtn {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #1f363f;
    color: white;
    border-radius: .5rem;
    padding: 1.5rem 2rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    max-width: 20rem;
}
form input.danger{
   width: 30px;
}
.width{
   width: 90%;
   height: 100px;
}

